body{
    background-color:hsl(232, 19%, 15%);
    font-family: 'Inter';
    font-weight: 400, 700;
}

h1,h2,h3{
    color: hsl(0, 0%, 100%);
}

h4,h6{
    color: hsl(228, 34%, 66%);
}

h5{
    font-size: 12px;
    font-weight: 900;
    color: hsl(163, 72%, 41%);
}

.inline, img, h5{
    display: inline;
}

.red{
    color: hsl(356, 69%, 56%);
}

.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.card1{
    /*font-size: 20px;*/
    display: inline-block;
    /* margin-top: 30px; */
    width: 215px;
    height: 150px;
    background-color: hsl(228, 28%, 20%);
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: hsl(208, 92%, 53%);
}
.cards{
    /*font-size: 20px;*/
    display: inline-block;
    /* margin-top: 30px; */
    width: 215px;
    height: 150px;
    background-color: hsl(228, 28%, 20%);
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: hsl(208, 92%, 53%);
}

.margin-left{
  margin-left: 10px;
}
.number{
    margin-top: 15px;
    font-size: 52px;
}

.paragraph{
    margin-top: -35px;
    font-size: 12px;
    letter-spacing: 5px;
}


.card2{
    display: inline-block;
    /*font-size: 20px;
    margin-top: 30px;*/
    margin-left: 10px;
    width: 215px;
    height: 150px;
    background-color: hsl(228, 28%, 20%);
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: hsl(203, 89%, 53%);
}
.card3{
    display: inline-block;
    /*font-size: 20px;
    margin-top: 30px;*/
    margin-left: 10px;
    width: 215px;
    height: 150px;
    background-color: hsl(228, 28%, 20%);
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.card4{
    display: inline-block;
    /*font-size: 20px;
    margin-top: 30px;*/
    margin-left: 10px;
    width: 215px;
    height: 150px;
    background-color: hsl(228, 28%, 20%);
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: hsl(348, 97%, 39%)
}

.card5{
    display: inline-block;
    /*font-size: 20px;
    margin-top: 30px;*/
    width: 215px;
    height: 110px;
    background-color: hsl(228, 28%, 20%);
    /*text-align: center;*/
    /* padding: 20px 0; */
    border-radius: 5px;
}

.card6{
    display: inline-block;
    /*font-size: 20px;
    margin-top: 30px;*/
    margin-left: 10px;
    width: 215px;
    height: 110px;
    background-color: hsl(228, 28%, 20%);
    /*text-align: center;*/
    /* padding: 20px 0; */
    border-radius: 5px;
}

.content{
  padding-left: 20px;
}
.activity{
    /* padding-left: 20px; */
    display: inline-block;
}
